<block-ui>
    <div class="flex">
        <app-dreams-header></app-dreams-header>
        <div class="no-padding main-meun" style="height:100vh;margin-top:55px;">
            <app-dreams-menu></app-dreams-menu>
        </div>
        <div class="no-padding main-content" style="height:100vh;">
            <div class="main-content-inner">
                <router-outlet>
                </router-outlet>
                <app-dreams-footer></app-dreams-footer>
            </div>
        </div>
    </div>
</block-ui>
