<div class="ibox-title">
    <div class="bread-crumb float-left">
        <i class="fa fa-bookmark"> </i>
        /{{display.ManagementTool}}/{{display.ProcessTransfer}}
    </div>
    <div class="ibox-tools float-right">
        <a href="javascript:;" class="close-btn">
            <i class="fa fa-chevron-up"></i>{{display.Shrink}}
        </a>
        <!-- 转接 -->
        <a href="javascript:;" (click)="processTransfer()">
            <i class="fa fa-exchange"></i>{{display.Transfer}}
        </a>
        <!-- 路由 -->
        <a href="javascript:;" (click)="processRoute(display.Route)">
            <i class="fa fa-random"></i>{{display.Route}}
        </a>
        <!-- 终止 -->
        <a href="javascript:;" (click)="processEnd(display.End)">
            <i class="fa fa-power-off"></i>{{display.End}}
        </a>
        <!-- 暂停 -->
        <a href="javascript:;" (click)="processStop(display.Stop)">
            <i class="fa fa-pause"></i>{{display.Stop}}
        </a>
        <!-- 激活 -->
        <a href="javascript:;" (click)="processActived(display.Actived)">
            <i class="fa fa-magic"></i>{{display.Actived}}
        </a>
        <!-- 刷新 -->
        <a href="javascript:;" (click)="search()">
            <i class="fa fa-refresh"></i>{{display.Refresh}}
        </a>
    </div>
    <div style="clear:both;"></div>
</div>

<p-confirmDialog header="Attention" icon="fa fa-question-circle" width="425"></p-confirmDialog>

<form class="search-grounp-public">
    <div class="row col-sm-12 row-margin">
        <div class="col-sm-6 row">
            <div class="col-sm-4 search-title">
                {{display.DocumentNo}}
            </div>
            <div class="col-sm-6">
                <input type="text" (keyup.enter)="search()" class="search-input-long" [(ngModel)]="processTransferSearch.documentNumber" type="text"
                    name="taskId">
            </div>
        </div>
        <div class="col-sm-6 row search-title">
            <div class="col-sm-4">
                {{display.Title}}
            </div>
            <div class="col-sm-6">
                <input class="search-input-long" (keyup.enter)="search()" [(ngModel)]="processTransferSearch.title" type="text" name="title">
            </div>
        </div>

    </div>
    <div class="row col-sm-12 row-margin">
        <div class="col-sm-6 row search-title">
            <div class="col-sm-4">
                {{display.Processname}}
            </div>
            <div class="col-sm-6">
                <select class="search-input-long" name="processName" [(ngModel)]="processTransferSearch.processName" (keyup.enter)="search()">
                    <option [value]=""></option>
                    <option *ngFor="let item of ProcessNames" [value]="item.documentName">{{item.documentName}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6 row">
            <div class="col-sm-4 search-title">
                {{display.Approver}}
            </div>
            <div class="col-sm-6">
                <input type="text" (keyup.enter)="search()" class="search-input-long" [(ngModel)]="processTransferSearch.assignee" type="text"
                    name="taskId">
            </div>
        </div>

    </div>
    <div class="row col-sm-12 row-margin">
        <div class="col-sm-6 row">
            <div class="col-sm-4 search-title">
                {{display.Status}}
            </div>
            <div class="col-sm-6">
                <select class="search-input-long" name="processName" [(ngModel)]="processTransferSearch.state" (keyup.enter)="search()">
                    <option [value]=""></option>
                    <option [value]="'ASSIGNED'">{{display.normal}}</option>
                    <option [value]="'SUSPENDED'">{{display.stop}}</option>
                    <option [value]="'WITHDRAWN'">{{display.end}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6 row">
            <div class="col-sm-4 search-title">
                {{display.ApplicationDate}}
            </div>
            <div class="col-sm-6 row calendar-row">
                <div class="col-sm-6">
                    <p-calendar readonlyInput="true" [(ngModel)]="processTransferSearch.creationBeginDate" dateFormat="yy-mm-dd" [showIcon]="true"
                        name="beginDate"></p-calendar>
                </div>
                <div class="col-sm-6">
                    <p-calendar readonlyInput="true" [(ngModel)]="processTransferSearch.creationEndDate" dateFormat="yy-mm-dd" [showIcon]="true"
                        name="endDate"></p-calendar>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center col-sm-12 search-buttons">
        <button class="btn btn-dafault" pButton type="button" label="{{display.Search}}" (click)="search()"></button>
        <button class="btn btn-dafault" pButton type="reset" label="{{display.Reset}}"></button>
        <!-- <button class="btn btn-dafault" pButton type="button" label="{{display.Transfer}}"></button> -->
    </div>
</form>

<div class="my-table">
    <app-dreams-table [loading]="loading" [tableData]="tableData" [totalRecords]="totalRecords" [tableConfig]="tableConfig" [tableCols]="tableCols"
        (goDetail)="openModal($event)" (pageParams)="tableGetPage($event)" (unSelectRow)="unSelect($event)" (selectRow)="selectRow($event)"></app-dreams-table>
</div>

<!-- 免费换油价格核算 -->
<div bsModal [config]="modalConfig" #replaceModal="bs-modal" class="modal modal-key fade" tabindex="-1" role="dialog" aria-hidden="true">
    <app-replace-modal [taskData]="taskData" [historyData]="historyData" [brandList]="brandList" [uploadedFiles]="attachments"
        [replaceSave]="detailData" [pageType]="pageType" (_onModalClose)="closeModal($event)"></app-replace-modal>
</div>
<!-- 过期索赔申请表 -->
<div bsModal [config]="modalConfig" #expiredModal="bs-modal" class="modal modal-key fade" tabindex="-1" role="dialog" aria-hidden="true">
    <app-expired-modal [taskData]="taskData" [historyData]="historyData" [brandList]="brandList" [pageType]="pageType" [uploadedFiles]="attachments"
        [expiredSave]="detailData" (_onModalClose)="closeModal($event)"></app-expired-modal>
</div>
<!-- 促销活动 -->
<div bsModal [config]="modalConfig" #promotionsModal="bs-modal" class="modal modal-key fade" tabindex="-1" role="dialog"
    aria-hidden="true">
    <app-promotions-modal [taskData]="taskData" [historyData]="historyData" [brandList]="brandList" [pageType]="pageType" [uploadedFiles]="attachments"
        [promotionsSave]="detailData" (_onModalClose)="closeModal($event)"></app-promotions-modal>
</div>
<!-- 质量销毁 -->
<div bsModal [config]="modalConfig" #qualityModal="bs-modal" class="modal modal-key fade" tabindex="-1" role="dialog" aria-hidden="true">
    <app-quality-modal [taskData]="taskData" [historyData]="historyData" [pageType]="pageType" [uploadedFiles]="attachments"
        [qualitySave]="detailData" (_onModalClose)="closeModal($event)"></app-quality-modal>
</div>
<!-- 回运零件销毁 -->
<div bsModal [config]="modalConfig" #returnModal="bs-modal" class="modal modal-key fade" tabindex="-1" role="dialog" aria-hidden="true">
    <app-return-modal [taskData]="taskData" [lastUploadedFiles]="returnAttachments" [historyData]="historyData" [pageType]="pageType"
        [uploadedFiles]="attachments" [returnSave]="detailData" (_onModalClose)="closeModal($event)"></app-return-modal>
</div>
<!-- 通用流程 -->
<div bsModal [config]="modalConfig" #normalModal="bs-modal" class="modal modal-key fade" tabindex="-1" role="dialog" aria-hidden="true">
    <app-normal-modal [taskData]="taskData" [historyData]="historyData" [pageType]="pageType" [uploadedFiles]="attachments" [documentSave]="detailData"
        (_onModalClose)="closeModal($event)"></app-normal-modal>
</div>

<!-- 现场索赔 -->
<div bsModal [config]="modalConfig" #scenceComponent #scenceModal="bs-modal" class="modal modal-key fade" tabindex="-1" role="dialog"
    aria-hidden="true">
    <app-scence-modal [pageType]="pageType" [historyData]="historyData" [scenceDetails]="detailData" [docFiles]="attachments"
        [taskData]="taskData" (_onModalClose)="closeModal($event)"></app-scence-modal>
</div>
<!-- 远程索赔 -->
<div bsModal [config]="modalConfig" #remoteComponent #remoteModal="bs-modal" class="modal modal-key fade" tabindex="-1" role="dialog"
    aria-hidden="true">
    <app-remote-modal [pageType]="pageType" [historyData]="historyData" [remoteDetails]="detailData" [docFiles]="attachments"
        [taskData]="taskData" (_onModalClose)="closeModal($event)"></app-remote-modal>
</div>
<!-- 索赔汇总 -->
<div bsModal [config]="modalConfig" #summaryComponent #summaryModal="bs-modal" class="modal modal-key fade" tabindex="-1"
    role="dialog" aria-hidden="true">
    <app-summary-modal [pageType]="pageType" [historyData]="historyData" [summaryDetails]="detailData" [quarterlyList]="quarterlyList"
        [allSummaryData]="allSummaryData" [taskData]="taskData" (_onModalClose)="closeModal($event)"></app-summary-modal>
</div>

<!-- 标题 -->
<ng-template #titleCell let-dataItem let-rowIndex="rowIndex">
    <a href="javascript:;" [title]="dataItem.title" (click)="openModal(dataItem)">{{dataItem.title}}</a>
</ng-template>



<p-dialog (onHide)="sendClose()" [(visible)]="showChoose" [width]="500" [contentStyle]="{'padding': 0}" [positionTop]="20">
    <p-header>
        {{display.Choose}}
    </p-header>
    <app-choose-modal [tableData]="personTableData" [originData]="personTableData" [tableCols]="personTableCols" [selectionMode]="selectionMode"
        (submit)="getChoose($event)" (close)="closeChoose($event)">
    </app-choose-modal>
    <!-- <choose-person (selectPerson)="getChoose($event)" (cancleEvent)="closeChoose($event)">
    </choose-person> -->
</p-dialog>
