.choosePerson-btn {
    margin:0.5rem auto;
}

.choosePerson-btns {
    padding-top: 4.5rem;
    .choosePerson-header {
        margin: 0.5rem;
    }
    
}

.choosePerson-footer {
    height: 3rem;
    width: 100%;
    border-top: 1px solid #D5D5D5;
    .footer-btn {
        float: right;
        margin-top: 10px;
    }
}
