app-dreams-footer {
    footer {
        width: 100%;
        height: 50px;
        line-height: 50px;
        color: #778087;
        .footer-text-left {
            float: left;
        }
        .footer-text-right {
            float: right;
        }
    }
}