<div class="ibox-title">
    <div class="bread-crumb float-left">
        <i class="fa fa-bookmark"> </i>
        /{{display.ApplicationConfiguration}}/{{display.SignatureConfiguration}}
    </div>
    <div class="ibox-tools float-right">
        <a href="javascript:;" class="close-btn">
            <i class="fa fa-chevron-up"></i>{{display.Shrink}}</a>
        <a href="javascript:;" (click)="signatureNew()">
            <i class="fa fa-plus"></i>{{display.Add}}</a>
        <a href="javascript:;" (click)="search()">
            <i class="fa fa-refresh"></i>{{display.Refresh}}</a>
    </div>
    <div style="clear:both;"></div>
</div>

<p-confirmDialog header="Attention" icon="fa fa-question-circle" width="425"></p-confirmDialog>

<form class="search-grounp-public">
    <div class="row col-sm-12 row-margin">
        <div class="col-sm-6 row">
            <div class="col-sm-4 search-title">
                {{display.Role}}
            </div>
            <div class="col-sm-6">
                <!-- <input class="search-input-long" type="text" [(ngModel)]="signatureSearch.roleCode" name="roleCode" (keyup.enter)="getRoleConfigList()"> -->
                <select name="roleList" id="" [(ngModel)]="signatureSearch.roleName">
                    <option [value]=""></option>
                    <option *ngFor="let item of displayRoleList" [value]="item.roleName">{{item.roleName}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6 row">
            <div class="col-sm-4 search-title">
                {{display.Member}}
            </div>
            <div class="col-sm-6">
                <input class="search-input-long" type="text" [(ngModel)]="signatureSearch.userName" name="roleName" (keyup.enter)="search()">
            </div>
        </div>
    </div>

    <div class="text-center col-sm-12 search-buttons">
        <button class="btn btn-dafault" pButton type="button" label="{{display.Search}}" (click)="search()"></button>
        <button class="btn btn-dafault" pButton type="button" label="{{display.Reset}}" (click)="clearSearch()"></button>
    </div>
</form>

<div class="my-table">
    <app-dreams-table [loading]="loading" [tableCols]="tableCols" [tableData]="tableData" [totalRecords]="totalRecords" (editItem)="editItem($event)"
        (deleteItem)="deleteItem($event)" (pageParams)="tableGetPage($event)"></app-dreams-table>
</div>

<!-- 操作 -->
<ng-template #opationCell let-dataItem let-rowIndex="rowIndex">
    <button pButton type="button" (click)="editItem(dataItem)" icon="fa-pencil" title="编辑"></button>
    <button pButton type="button" (click)="deleteItem(dataItem)" icon="fa-close" title="删除"></button>
</ng-template>
